@page
@model RacEquipe.Pages.Reservations.DetailsModel

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>Réservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.DateFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.DateFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.DateTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.DateTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Equipement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Equipement.EquipementId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Utilisateur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Utilisateur.UtilisateurId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reservation.ReservationId">Modifier</a> |
    <a asp-page="./Index">Retourner à la liste</a>
</div>
