@page
@model RacEquipe.Pages.Utilisateurs.DetailsModel

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilisateur.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilisateur.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilisateur.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilisateur.Prenom)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Utilisateur.UtilisateurId">Modifier</a> |
    <a asp-page="./Index">Retourner à la liste</a>
</div>
