@page
@model RacEquipe.Pages.Equipements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Créer un nouvel équipement</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipement[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipement[0].NumeroDeSerie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equipement) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeSerie)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EquipementId">Modifier</a> |
                <a asp-page="./Details" asp-route-id="@item.EquipementId">Détails</a> |
                <a asp-page="./Delete" asp-route-id="@item.EquipementId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
